name: Run SAGE_ROOT/tox.ini

## This GitHub Actions workflow runs SAGE_ROOT/tox.ini with select environments,
## whenever a GitHub pull request is opened or synchronized in a repository
## where GitHub Actions are enabled.
##
## It builds and checks some sage spkgs as defined in TARGETS.
##
## A job succeeds if there is no error.
##
## The build is run with "make V=0", so the build logs of individual packages are suppressed.
##
## At the end, all package build logs that contain an error are printed out.
##
## After all jobs have finished (or are canceled) and a short delay,
## tar files of all logs are made available as "build artifacts".

#on: [push, pull_request]

on:
  pull_request:
    types: [opened, synchronize]
  push:
    tags:
      - '*'

env:
  TARGETS_PRE: sagelib-build-deps
  TARGETS: build doc-html
  TARGETS_OPTIONAL: ptest

jobs:

  dist:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install bootstrap prerequisites
        run: |
          sudo DEBIAN_FRONTEND=noninteractive apt-get update
          sudo DEBIAN_FRONTEND=noninteractive apt-get install $(sed "s/#.*//;" build/pkgs/debian-bootstrap.txt)
      - name: Bootstrap
        run: |
          ./bootstrap -s
      # Note that "make dist" no longer works from an unconfigured tree:
      # Makefile:46: recipe for target 'build/make/Makefile' failed
      # error: Sage source tree is unconfigured. Please run "./configure" first.
      - name: make dist
        run: |
          ./configure && make dist
      - uses: actions/upload-artifact@v1
        with:
          path: "dist/*.tar.gz"
          name: sage.tar.gz

  ## local-macos:

  ##   runs-on: macos-latest
  ##   strategy:
  ##     fail-fast: false
  ##     max-parallel: 4
  ##     matrix:
  ##       tox_system_factor: [homebrew-macos, homebrew-macos-python3_xcode, homebrew-macos-python3_xcode-nokegonly, homebrew-macos-python3_pythonorg, homebrew-macos-python3_xcode-gcc_spkg, conda-forge-macos]
  ##       tox_packages_factor: [minimal, standard]
  ##   env:
  ##     TOX_ENV: local-${{ matrix.tox_system_factor }}-${{ matrix.tox_packages_factor }}
  ##     LOGS_ARTIFACT_NAME: logs-commit-${{ github.sha }}-tox-local-${{ matrix.tox_system_factor }}-${{ matrix.tox_packages_factor }}
  ##   steps:
  ##     - uses: actions/checkout@v2
  ##     - name: Install test prerequisites
  ##       run: |
  ##         brew install tox
  ##     - name: Install python3 from python.org
  ##       # As of 2020-03-30 (https://github.com/actions/virtual-environments/blob/master/images/macos/macos-10.15-Readme.md),
  ##       # Python 3.7.7 is installed on GitHub Actions runners.  But we install our own copy from the python.org binary package.
  ##       run: |
  ##         curl -o python3.pkg https://www.python.org/ftp/python/3.7.7/python-3.7.7-macosx10.9.pkg
  ##         sudo installer -verbose -pkg python3.pkg -target /
  ##       if: contains(matrix.tox_system_factor, 'python3_pythonorg')
  ##     - name: Build and test with tox
  ##       # We use a high parallelization on purpose in order to catch possible parallelization bugs in the build scripts.
  ##       # For doctesting, we use a lower parallelization to avoid timeouts.
  ##       run: |
  ##         MAKE="make -j12" tox -e $TOX_ENV -- SAGE_NUM_THREADS=4 $TARGETS
  ##     - name: Prepare logs artifact
  ##       run: |
  ##         mkdir -p "artifacts/$LOGS_ARTIFACT_NAME"; cp -r .tox/*/log "artifacts/$LOGS_ARTIFACT_NAME"
  ##       if: always()
  ##     - uses: actions/upload-artifact@v1
  ##       with:
  ##         path: artifacts
  ##         name: ${{ env.LOGS_ARTIFACT_NAME }}
  ##       if: always()
  ##     - name: Print out logs for immediate inspection
  ##       # and markup the output with GitHub Actions logging commands
  ##       run: |
  ##         .github/workflows/scan-logs.sh "artifacts/$LOGS_ARTIFACT_NAME"
  ##       if: always()
